#!/bin/bash
# temp script : it should be removed
cd {{insacloud_virtualenv_path}}
source bin/activate
cd {{insacloud_appname}}
echo "from django.contrib.auth.models import User; User.objects.create_superuser('{{insacloud_django_superuser_name}}', 'root@localhost', '{{insacloud_django_superuser_password}}')" | python ./manage.py shell --settings=insacloud.local_settings
deactivate